@import './variables.scss';

.btn-zena {
  color: rgb(46, 46, 46);
  background-color:#8bc34a;
  border-color: #8bc34a;
  border-radius: 5px 5px 5px 5px;
  width: 64%;
}

.form-control {
  border-radius: 4px;
}